.icon-48-incarichi {
      background-image: url(../images/l_incarichi.png);
      padding-left:60px!important;
}

.icon-48-incarico {
      background-image: url(../images/l_incarichi.png);
      padding-left:60px!important;
}

